.DevicePage{
    height: 100vh;
}

.DevicePageHeader{
    padding: 20px;
    border-bottom: white solid 1px;
}
.DeviceName{
    padding-right: 20px;
    color: white;
    font-size: 8vmin;
}
.DeviceType{
    padding-top: 1em;
    color: white;
    font-size: 4vmin;
}

.GitHubLogo{
    height:10vmin;
    width: 10vmin;
    margin-left: auto;
}   