<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IO Space</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <a class="navtitle" href="#introsection">IO Space</h1>
        <div class="navbar">
            <a class="navitem" href="#about">About</a>
            <a class="navitem" href="#myio">My IO</a>
            <a class="navitem" href="#connect">Connect</a>
            <a class="navitem" href="#code">Code</a>
        </div>
    </header>

    <div class="section" id="introsection">
        <div class="sectioncontainer" id="infocontainer">
            <div class="maintitle">
                <h1 class="largetitle">IO Space></h1>
                <h1 class="codeText largetitle" id="codeWriter"></h1>
                <h1 class="blinkingunderscore largetitle">_</h1>
            </div>
            <h2 class="mainsubtitle">Making IOT Simple</h2>
        </div>
    </div>

    <div class="section" id="about">
        <h1 class="sectionheader">What Is IO Space?</h1>
        <p class="sectiontext">
            IO Space is a Powerful tool that allows just about anyone to Create and Deploy their own IOT devices
        </p>
    </div>

    <div class="section" id="myio">
        <h1 class="sectionheader">My IO</h1>
        <p class="sectiontext">
            IO Space is a Powerful tool that allows just about anyone to Create and Deploy their own IOT devices
        </p>
    </div>

    <div class="section" id="connect">
        <h1 class="sectionheader">Connect</h1>
        <p class="sectiontext">
        </p>
    </div>

    <div class="section" id="code">
        <h1 class="sectionheader">Code</h1>
        <p class="sectiontext">
        </p>
    </div>

    <div class="footer">

    </div>
</body>
</html> 