<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IO Space</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="main.js"></script>
</head>
<body>
    <header>
        <h1 class="navtitle">IO Space</h1>
        <div class="navbar">
            <a class="navitem" href="main.html/#myio">My IO</a>
            <a class="navitem" href="main.html/#about">About</a>
            <a class="navitem" href="main.html/#connect">Connect</a>
            <a class="navitem" href="main.html/#code">Code</a>
            <a class="navitem" href="main.html/#analyse">Analyse</a>
        </div>
    </header>
    <div class="section" id="introsection">
        <div class="infocontainer">
            <div class="maintitle">
                <h1 class="largetitle">IO Space ></h1>
                <h1 class="blinkingunderscore">_</h1>
            </div>
            <h2 class="mainsubtitle">Code, Connect, Analyse</h2>
        </div>
    </div>

    <div class="section" id="about">
        <h1 class="sectionheader">What Is IO Space?</h1>
        <p class="sectiontext">
            IO Space is a Powerful tool that allows just about anyone to Create and Deploy their own IOT devices
        </p>
    </div>
</body>
</html> 