body, html{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom, black , #172a36);
    font-family: Montserrat;
    scroll-behavior: smooth;
}

header{
    z-index: 100;
    position: fixed;
    background-color: white;
    padding: 0%;
    margin: 0%;
    border-bottom: solid black;
    width: 100%;
}

.navtitle{
    float: left;
    margin: 0%;
    margin-top: 0.7vh;
    position: fixed;
    color: black;
    text-decoration: none;
    font-size: 3vh;
}
.navbar{
    margin-top: 2vh;
    justify-content: center;
    display: flex;
    height: 3vh;
}

.navitem{
    transition: 0.3s;
    font-size: 2vh;
    color: black;
    margin-right: 2vw;
    text-decoration: none;
}

.navitem:hover{
    transform: translate(0, -10px);
}

.section{
    height: 100vh;
    width: 100%;
    color: white;
}

.sectioncontainer{
    position: absolute;
}

.maintitle{
    margin-top: 4vw;
    display: flex;
    font-size: 5vw;
}

.largetitle{
    margin-bottom: 0%;
}

.blinkingunderscore{
    animation: blink infinite 1s;
    margin-bottom: 0%;
}

@keyframes blink{
    50%{
        opacity: 0.0;
    }
}

.mainsubtitle{
    padding-left: 0.8vw;
    font-size: 1.9vw;
    margin-top: 0%;
}

.codeText{
    height: 1vw;
}

.sectionheader{
    padding-top: 3vw;
    margin-bottom: 2vw;
    font-size: 3vw; 
}

.sectiontext{
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.5vw;
}

#about{
    height: 155vh;
}

.bulletpoints{
    padding: 3vw;
    padding-bottom: 2vh;
    display: flex;
    margin: 0%;
}

.iodeftext{
    font-size: 2vw;
    margin: 0%;
    margin-right: 5vw;
}

#iospacegoal{
margin-top: 20vh;
}

@keyframes flow {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}


.gradientfadein{
    opacity: 0;
    text-align: center;
    font-size: 13vw;
    margin: 0%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: flow 5s ease infinite;
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer{
    background-color: white;
    height: 15vw;
    opacity: 10%;
}