body, html{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom, black , #172a36);
    font-family: Montserrat;
}

.fadein{
    opacity: '1';
}

header{
    z-index: 100;
    position: fixed;
    background-color: white;
    padding: 0%;
    margin: 0%;
    border-bottom: solid black;
    width: 100%;
}

.navtitle{
    float: left;
    margin: 0%;
    position: fixed;
}
.navbar{
    margin-top: 2vh;
    justify-content: center;
    display: flex;
    height: 3vh;
}

.navitem{
    transition: 0.3s;
    font-size: 2vh;
    color: black;
    margin-right: 2vw;
    text-decoration: none;
}

.navitem:hover{
    transform: translate(0, -10px);
}

.section{
    height: 100vh;
    width: 100%;
    color: white;
}


#introsection{
    padding: 0%;
    margin: 0%;
}

.infocontainer{
    position: absolute;
}

.maintitle{
    display: flex;
    font-size: 5vw;
}

.largetitle{
    margin-bottom: 0%;
}

.blinkingunderscore{
    animation: blink infinite 1s;
    margin-bottom: 0%;
}

@keyframes blink{
    50%{
        opacity: 0.0;
    }
}

.mainsubtitle{
    padding-left: 0.8vw;
    font-size: 1.9vw;
    margin-top: 0%;
}

.sectionheader{
    margin-bottom: 2vw;
    font-size: 3vw;
}

.sectiontext{
    text-align: center;
}