.App {
    width: 100vw;
    height: 100vh;
    background-color: #131417;
  }

.DeviceBar{
    width: 20%;
    height: 100%;
    background-color: white;
    opacity: 90%;
    float: right;
}

.DeviceBarHeader{
    margin: 0%;
    padding: 0%;
    font-size: 3vw;
    font-weight: 500;
    color: #131417;
    border-bottom: white solid;
    font-weight: 700;
}

.Device{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: solid #ed1f7c 2px;
    background-color: #131417;
    color: white;
    font-size: 1vw;
    transition: transform 0.1s;
}
.Device:hover{
    transform: translate(-10px, -0);
}

.TitleRoundContainer{
    padding: 5px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    min-width: 3em;
    margin-right: 5px;
    margin-top: 3px;
    color: black;
}